<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /api/

    # Wenn die Datei nicht existiert, rewrite zu index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
